{% extends 'base.html.twig' %}

{% block title %}Troc'Eco | Recherche | Nos catégories{% endblock %}

{% block contenuPrincipal %}
<section>
    <div class="shadow-lg">
        <h1 class="text-center py-3 my-5">Recherche</h1>
    </div>
    <div class="container">
        <div class="row g-2">
                <!-- J'AFFICHE LES CATEGORIES -->
                {% for categorie in noscategories %}

                        <div class="carte-categorie card col-lg-5 m-3 shadow rounded">
                            <div class="card-body">
                            <!-- !!!!! en date du 26/03/2021 On a  du enlever ce lien  path(categorie.nom)  du href car cela affichait une erreur de route introuvable et cela empeche donc l'affichage de la page recherche ,je suppose que cela est du au fait que la route de la nouvelle categorie venant d'etre ajoutée est encore inexistantes dans le code à la création de celles ci !!!!!!-->
                                <h2 class="card-title text-center"><a href="{{ path('liste', {'id':categorie.id})}}">{{ categorie.nom }}</a></h2>
                                
                            </div>
                            <div class="text-center">
                                <a href="{{ path('liste', {'id':categorie.id})}}" class="align-self-center justify-self-center">
                                    <img src="{{ asset('/uploads/brochures/' ~ categorie.photo) }}" class="card-img-bottom border border-4" alt="photo-{{ categorie.nom }}">
                                </a>  
                            </div>
                            
                        </div>
                {% endfor %}

                {% if is_granted('ROLE_ADMIN') %}
                    <div><a href="{{ path('gestion')}}">Ajouter une catégorie</a></div>
                {% endif %}
                            
            
        </div>
    </div>
</section>

        
{% endblock %}