{% extends 'base.html.twig' %}

{% form_theme Formulaire 'bootstrap_4_layout.html.twig' %}

{% block title %}Troc'Eco | Ajouter un troc {% endblock %}

{% block contenuPrincipal %}
    <section>
        <div class="shadow-lg">
            <h1 class="text-center py-3 my-5"> Ajouter un troc</h1>
        </div>
        {# FORMULAIRE#}
        <div class="container shadow bg-vert rounded">
            <form method="post" enctype = "multipart / form-data">
                <div>
                    {{ form_start(Formulaire) }}
                        <div class="my-custom-class-for-errors">
                            {{ form_errors(Formulaire) }}
                        </div>

                        <div class="row">
                            <h2 class="annonce">Annonce</h2>
                        
                            
                            <div class="col" id="some-custom-id">
                                <div class="mb-2">
                                {{ form_row(Formulaire.categorie) }}
                                </div>
                                 <div class="mb-2">
                                {{ form_row(Formulaire.photo) }}
                                </div>
                                 <div class="mb-2">
                                {{ form_row(Formulaire.titre) }}
                                </div>
                                 <div class="mb-2">
                                {{ form_row(Formulaire.description) }}
                                </div>
                                 <div class="mb-2 produit_save">
                                {{ form_row(Formulaire.enregistrer) }}
                                </div>
                            </div>   
                        </div>
                    {{ form_end(Formulaire) }}
                </div>
            </form>
        </div>
    </section>


{% endblock %}
