{% extends 'base.html.twig' %}
{# Page Accueil #}

{% block title %}Troc'Eco | Accueil{% endblock %}


{% block contenuPrincipal %}
    <section id="page-principale">
        
        <div  class="shadow-lg">
            <h1 class="text-center my-5 py-3">Comment je fais ?</h1>
        </div>
  
   
    
        <section class="partie1">
        
            <!-- Fonction is_granted() => permet de savoir si l’utilisateur possède un certain rôle 
            IS_AUTHENTICATED_FULLY => si réellement connecté-->
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <div class="text-end">
                <a class="lien-profil" href="{{ path('profil') }}">
                    <h2 class="text-capitalize">Bonjour {{ app.user.nom }}.</h2>
                    <!-- "app" : pr acceder a user, la variable est une instance de Symfony\Bridge\Twig\AppVariable qui donne auto accès à user (variable specifique a l'appli)-->
                </a>     
            </div>  
                        
            {% endif %}
        
           
                <article class="partie1">
                    <div class="container">
                        <div class="row">
                            <h2 class="col-8 h2-partie1 mb-5 ml-5">TROC'ECO, </br>UN GESTE SIMPLE.</h2>
                            
                        </div>
                    </div>
                    
                    <div class="container">
                        <div class="row">
                            
                                <img class="robe col-4" src="{{ asset('img/robe.png')}}" alt="Robe bleu">
                                <img class="fleche col-4" src="{{ asset('img/fleche.png')}}" alt="fleche echange">
                                <img class="livres col-4" src="{{ asset('img/livres.png')}}" alt="livres">
                            
                            
                        </div>
                        <p class="figcaption text-center mt-3">Echangez un de vos objet contre un autre objet</p>
                    </div>
                </article>

        </section>
        <section class="partie2">
            <article>
                <h2 class=" h2-partie2 pt-5 text-center">Comment troquer</h2>
                <div class="text-center">
                    <img class=" m-5 img1-partie2  " src="{{ asset('img/je-propose.png')}}" alt="paragraphe">
                    <img class=" m-5 img2-partie2" 
                         src="{{ asset('img/je-cherche.png')}}" alt="paragraphe">
                </div>
            </article>
        </section>
        <section class="partie3">
            <article class="p-5">
                
                    <h2 class="h2-partie3 mb-5">  
                        LE TROC  </br>  UNE SOLUTION
                    </h2>
                    <p class="text-center px-5 mt-5 fs-1">  
                        Troc'eco s'adresse à tous les écolos, à ceux qui ont envie de faire économies, ou tout simplement qui veulent consommer autrement.</br> A travers ce site, nous souhaitons réduire le gaspillage, la surconsommation que notre société engendre, et par la même occasion développer l'échange, l'entraide et la solidarité.
                    </p>
                    
                

            </article>
        
        </section>
        <div>
            <!-- btn de scroll  -->
            <a href="#" class="scroll-btn">
                <button class="bouton-scroll"><i class="fas fa-arrow-up"></i></button>
            </a>
        </div>
        
    </section>
        
    

{% endblock %}